body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

button{
    height: 100px;
    border-radius: 20px;
    font-family: cursive;
    background-color: rgb(152, 104, 104);
    color: white;
}   

button:hover{
    filter:brightness(1.15);
}
button:active{
    filter: brightness(0.85);
    transform: scale(0.9);
}

.colorcode{
    margin-top: 10px;
    font-family: cursive;
    font-size: 20px;
    background-color: grey;
    color: white;
    cursor: grab;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
